.lsp-session-v1
.mc-lists.el
.persistent-scratch
ac-comphist.dat
auto-save-list
custom.el
eln-cache
history
local-init.el
places
projectile-bookmarks.eld
projectile.cache
projects
recentf
straight
tramp
transient
tree-sitter
